# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Client/client-side/node_modules
Client/client-side/.pnp
Client/client-side/.pnp.js

# testing
Client/client-side/coverage

# production
Client/client-side/build

# misc
Client/client-side/.DS_Store
Client/client-side/.env.local
Client/client-side/.env.development.local
Client/client-side/.env.test.local
Client/client-side/.env.production.local

Client/client-side/npm-debug.log*
Client/client-side/yarn-debug.log*
Client/client-side/yarn-error.log*
