<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    {% assets output="gen/packed.js", "cytoscape.min.js", "displayGraph.js", "UtilityControls.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    
    <title>Hypothetical Retrospection</title>
</head>

<body onload="setData( {{ nodeList }}, {{ edgeList }}, {{ argList }})">
  <div class="sideBar">
    <form method="post">
      <div class="formItem">
        <label for="Env">Choose an Environment:</label>
        <select name="envName" id="Env">
          {% for option in envList %}
            <option 
            {% if envName == option %}
            selected 
            {% endif %} 
            value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="changeEnv" value="True">
        <button type="submit">Change Environment</button>
      </div>
    </form>
    <form method="post">
      <div class="formItem"> 
        <label for="conUtil">Consider Utilitarianism: </label>
        <input type="checkbox" name="conUtil" id="conUtil"
        {% if conUtil == True %}
        checked 
        {% endif %}
          >
      </div>
      <div class="formItem">
        <label for="Utilities">Utilities:</label>
        <table id="Utilities">
          <tr>
            <th>Remove</th>
            <th>Literal</th>
            <th>State</th>
            <th>Utility</th>
            <th>Class</th>
          </tr>
          {% for elements in utilClasses %}
          {% set class = loop.index - 1 %}
            {% for element in elements %}
              <tr>
                <th>
                  <input type="hidden" value='false' name="UtilRemove[]"><input type="checkbox" onclick="this.previousSibling.value = ((this.previousSibling.value=='true') ? 'false' : 'true');">
                </th>
                <th>
                  <select name="UtilLiteral[]" id="{{ element['literal'] }}Literal">
                    {% for lit in literalList %}
                      <option
                      {% if element['Literal'] == lit %}
                      selected 
                      {% endif %}  
                       value="{{ lit }}">{{ lit }}</option>
                    {% endfor %}
                  </select>
                </th>
                <th>
                  <select name="UtilState[]" id="{{ element['literal'] }}State">
                    <option value="True">True</option>
                    <option value="False"
                    {% if element['Value'] == False %}
                      selected 
                    {% endif %}
                     >False</option>
                  </select>
                </th>
                <th><input class="numberInput" value={{ element['Utility'] }} type="number" name="UtilUtility[]" id="{{ element['literal'] }}Utility"></th>
                <th><input class="numberInput" value={{ class }} type="number" name="UtilClass[]" id="{{ element['literal'] }}Class"></th>
              </tr>
            {% endfor %}
          {% endfor %}

        </table>
        <div class="button" onclick="addToUtilTable({{ literalList }})">Add Utility</button>
      </div>
    </div>
    <div class="formItem">
      <label for="conDeon">Consider Deontology: </label>
      <input type="checkbox" name="conDeon" id="conDeon"
      {% if conDeon == True %}
      checked 
      {% endif %}
        >
    </div>
    <div class="formItem">
      <table id="Forebidden">
        <tr>
          <th>Remove</th>
          <th>Literal</th>
          <th>State</th>
        </tr>
        {% for selectedLiteral, selectedState in forebidList.items() %}
        <tr>
          <th>
            <input type="hidden" value='false' name="DeonRemove[]"><input type="checkbox" onclick="this.previousSibling.value = ((this.previousSibling.value=='true') ? 'false' : 'true');">
          </th>
          <th>
            <select name="DeonLiteral[]">
                {% for lit in literalList %}
                  <option
                  {% if selectedLiteral == lit %}
                  selected 
                  {% endif %}  
                    value="{{ lit }}">{{ lit }}</option>
                {% endfor %}
            </select>
          </th>
          <th>
            <select name="DeonState[]">
              <option value="True">True</option>
              <option value="False"
              {% if selectedState == False %}
                selected 
              {% endif %}
               >False</option>
            </select>
          </th>
        </tr>
        {% endfor %}
      </table>
    </div>
    <input type="hidden" name="envName" value={{ envName }}>  
    <div class="formItem">
      <div class="button" onclick="addToDeonTable({{ literalList }})">Add Forebidden Literal</div>
    </div>
    <div class="formItem">
      <button type="submit">Load Environment</button>
      </form>
  </div>
  <div class="formItem">
    <p id="mostAccepted">{{ mostAccepted }}</p>
  </div>

  </div>
  
  <div class="content">
    <div class="toolBar">
      <h1>Hypothetical Retrospection Machine</h1>
      <p id='desc'>Each box represents an available action. The nodes represent a hypothetical argument, positively retrospecting on their choice.
        Attacks on an argument represent negative retrospection, for not choosing the attacker's action.</p>
      <p>Click the nodes to reveal their aguments. Otherwise, click the edges to reveal the ethical theory behind their attacks.</p>
    </div>
    <div id="cy"></div>
    </div>
  </div>
</body>

</html>

